@import '../../Fonts/Fonts.css';

.home-container {
  padding: 0 !important;
}

.carousel-indicators li {
  background-color: #CB8460 !important;
}

.caption-0 {
  bottom: 42% !important;
}

.caption-1 {
  bottom: 40% !important;
}

.caption-2 {
  bottom: 30% !important;
}

.h3-responsive {
  font-family: 'Vietnam', sans-serif !important; 
  font-size: 25px !important;
  font-weight: 600;
  color: #e2dbdb !important;
  line-height: 30px;
} 

.view {
  height: 500px !important;
}

.item1 {
  background-image: url("unsplash-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.item2 {
  background-image: url("unsplash-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.item3 {
  background-image: url("unsplash-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.item4 {
  background-image: url("unsplash-4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.view img{
 opacity: 0.7;
 height: fit-content;
}

#shop {
  font-family: 'Vietnam', sans-serif !important; 
  padding-top: 50px !important;
  color: #CB8460;
  font-size: 22px !important;
  font-weight: 600;
}

#shop span {
  padding:  3px 15px 10px 15px;
  border: 4px solid #CB8460 !important;
  border-radius: 50px;
  transition: 0.2s ease-in-out !important;
}

#shop span:hover {
  color: #e2dbdb;
  background-color: #CB8460;
}

#latest-products {
  font-size: 40px;
  line-height: 70px;
  font-weight: 700;
  font-family: 'Vietnam', sans-serif !important;
  padding-bottom: 40px;
  color: #CB8460;
}

.latest-product-container {
  margin-top: 50px;
}

.our_offer {
  margin-top: 50px;
  background-image: url("sale-background-02-01.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.our_offer .offer_img {
  padding: 50px 0;
}

.our_offer .offer_img img {
  margin: auto !important;
  height: 40vh;
  width: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.our_offer .date_countdown {
  text-align: left;
  width: 90%;
  /* margin: 37px auto 55px; */
  margin: 37px 0 55px;
}

.our_offer .date_countdown #timer {
  display: flex;
  justify-content: space-between;
}

.our_offer h2 {
  padding-top: 40px;
  font-size: 40px;
  line-height: 70px;
  font-weight: 700;
  font-family: 'Vietnam', sans-serif !important; 
  color: #ece0db;
}

@media (max-width: 991px) {
  .our_offer h2 {
    font-size: 30px;
    line-height: 35px;
    margin-top: 30px;
  }
}

.our_offer .date {
  font-size: 36px;
  color: #ece0db;
  font-weight: 700;
  border-right: 1px solid #edeff2;
  padding-right: 9%;
}

.our_offer .date:last-child {
  padding-right: 0px;
  border-right: 0px solid transparent;
}

@media (max-width: 991px) {
  .our_offer .date {
    padding-right: 5%;
  }
}



.our_offer span {
  display: block;
  font-size: 13px;
  color: #CB8460;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .our_offer .offer_img img {
    height: 25vh;
  }
}

@media (max-width: 700px) {
  .our_offer .offer_img img {
    height: 30vh;
  }

  .caption-1 {
    bottom: 35% !important;
  }
  
  .caption-2 {
    bottom: 25% !important;
  }

  .h3-responsive {
    font-size: 20px !important;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .offer_text {
    text-align: center;
    padding: 0 20px;
  }
  .our_offer .date_countdown {
    width: 70%;
    margin: 37px auto 55px;
  }
}

@media (max-width: 575px) {
  .our_offer .date_countdown {
    width: 100%;
  }
  .caption-0 {
    bottom: 28% !important;
  }

  .our_offer .date {
    font-size: 30px;
  }
}